<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="SecurityLocalSqlServer" connectionString="Data Source=db.china-ccw.com;Initial Catalog=aspnetdb;User ID=sa;Password=db@126.com;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
        <!--<add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>-->
      </buildProviders>
    </compilation>
    <membership defaultProvider="LocalSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="LocalSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="SecurityLocalSqlServer" enablePasswordReset="false" enablePasswordRetrieval="false" passwordFormat="Clear" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" applicationName="XFServices"/>
      </providers>
    </membership>
    <roleManager defaultProvider="LocalSqlRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="LocalSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="SecurityLocalSqlServer" applicationName="XFServices"/>
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms name=".JqueryCookie"  cookieless="UseCookies" loginUrl="Public/Login1.aspx" defaultUrl="HtmlPage.html" protection="All" timeout="43200"/>
    </authentication>
    <authorization>
      <!--<allow users="*"/>-->
      <deny users="?"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="WebAuthenticate" type="WebAuthenticate"/>
    </modules>
  </system.webServer>
  <location path="Public">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <services>
      <service name="Service2">
        <endpoint address="" behaviorConfiguration="Service2AspNetAjaxBehavior" binding="webHttpBinding" contract="Service2"/>
      </service>
      <service name="AuthenticateService">
        <endpoint address="" behaviorConfiguration="AuthenticateServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="AuthenticateService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Service2AspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="AuthenticateServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <!--<system.webServer>
    <handlers>
      <add name="html" path="*.html" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  </system.webServer>-->
</configuration>