@{
    ViewBag.Title = "Index";
}
      <style>
          .row {
              margin-top:15px;
              margin-bottom:15px;
          }

      </style>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">企业信息状态管理</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">采集数据核实</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">上报超时处理</a></li>
    </ul>
<div class="main">
    <div class="container-fluid">
        <div class="sidebar" style="height:120px;">
            <div class="leftside">
                <div class="row">
                        <div class="col-xs-6 col-md-4">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="exampleInputName2">Name</label>
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="exampleInputName2">Name</label>
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                                </div>
                            </div>
                            </div>
                        <div class="col-xs-6 col-md-4">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputName2">Name</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">Name</label>
                                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">Name</label>
                                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">Name</label>
                                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightside">
                <button type="button" class="btn btn-primary">（首选项）Primary</button>
            </div>
        </div>

        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">税务管理码</div>
                    <div class="col-md-4 text-center">纳税人名称</div>
                    <div class="col-md-4 text-center">登记类型</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">重点税源标识</div>
                    <div class="col-md-4 text-center">管理状态</div>
                    <div class="col-md-4 text-center">短信标示码</div>
                </div>
            </div>
       </div>

        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
        <div class="sidebar" style="height:60px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4 text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 20100908070605
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">苏州云联智慧信息技术应用有限公司</div>
                    <div class="col-md-4 text-center">个体工商户</div>
                </div>
                <div class="col-md-4 text-center">地税管理机关</div>
                <div class="col-md-4">
                    <div class="col-md-4 text-center">普通一般税源户</div>
                    <div class="col-md-4 text-center">新增</div>
                    <div class="col-md-4 text-center">123213123213213214345435adfsfds</div>
                </div>
            </div>
        </div>
    </div>
</div>
