html,body {
    margin:0px;
    padding:0px;
    overflow:auto;
    background-color:white;
}

.Header
{
    height:60px;
    background-color:#00A6A6;
}

.Header .Title
{
    float:left;
    line-height:60px;
    font-size:26px;
    color:white;
    font-weight:bold;
    padding-left:28px;
    text-shadow:3px 3px 3px black;   
}
.Header .MenuLink
{
    float:right;
    right:0px;
    height:100%;
    vertical-align:middle;
}
.Header .MenuLink > div
{
    float:left;
    text-align:center;
    padding-top:5px;
    height:100%;
    width:100px;
    border-left-color:rgba(255,255,255,0.3);
    border-left-width:1px;
    border-left-style:solid;
    cursor:pointer;
}
.Header .MenuLink > div:hover
{
    background-color:#007E7D;
}

.Header .MenuLink div img
{
    height:32px;
    width:32px;
    text-align:center;
}

.Header .MenuLink div div
{
    text-align:center;
    height:auto;
}

.MainMenu
{
    height:45px;
    background-color:transparent;
    padding:5px;
}

.MainContentContainer
{
    background-color:transparent;
    height:calc(100% - 60px);
}
.MainContentContainer .MainContent
{
    width:100%;
    height:100%;
}

footer
{
    height:30px;
    left:0px;
    bottom:0px;
    width:100%;
    position:absolute;
}

.Loading
{
    position:absolute; left:50%; top:50%;z-index:9999;width:90px; height:60px; 
    margin-top:-30px;
    background-color:rgba(2, 216, 0,0.1);
    border-width:1px;
    border-style:solid;
    border-color:lightblue;
    border-radius:5px;
    padding:5px;
    line-height:50px;
    vertical-align:middle;
    text-align:center;
    font-size:11px;
    display:none;
}

.UserInfoPanel
{
    width:100%;
    height:150px;
    background-color:red;
}
