@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>地理定位</title>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <script language="javascript" src="http://webapi.amap.com/maps?v=1.3&key=6b91c8e7794066e50727187805153ee9"></script>
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/base.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/alipay/amui-demo_files/demo.css" rel="stylesheet" />
    <link href="~/Content/alipay/amui-demo_files/button-group.css" rel="stylesheet" />
    <link href="~/Content/alipay/amui-demo_files/message.css" rel="stylesheet" />
    <link href="~/Content/alipay/amui-demo_files/top-notice.css" rel="stylesheet" />

    <link href="~/Content/alipay/alipay.css" rel="stylesheet" />
    <link href="~/Content/alipay/amui-demo_files/amui.css" rel="stylesheet" />
    <link href="~/Content/alipay/amui-demo_files/toast.css" rel="stylesheet" />

    <link href="~/Content/alipay/amui-demo_files/dialog.css" rel="stylesheet">
    <link href="~/Content/zyUpload.css" rel="stylesheet" />
    <script src="~/Scripts/form.js" type="text/javascript"></script>
    <script src="~/Scripts/js/demo.js" type="text/javascript"></script>
    <script src="~/Scripts/js/zyFile.js" type="text/javascript"></script>
    <script src="~/Scripts/js/zyUpload.js" type="text/javascript"></script>
    <style>
        li {
            color: red;
            font-size: 16px;
        }

        .file {
            background-image: url('../Images/xiangji.png');
            display: block;
            width: 160px;
            height: 120px;
            margin-left: 15px;
            background-repeat: no-repeat;
            /*opacity: 0;*/
            -moz-opacity: 0; /* 兼容老式浏览器 */
            filter: alpha(opacity=0); /* 兼容IE */
        }
        .amap-maptype-con {
            height:40px;
        }
       
       
        .amap-maptype-list
        {
            margin-top:-60px;
            
            position:fixed;
        }
        .amap-maptype-item {
            display:none;

        }
    </style>
</head>
<body>
    <div class="am-toast">
        <div class="am-toast-text" id="note">
            <span class="am-toast-icon am-icon" am-mode="toast-loading"></span> 正在处理..
        </div>
    </div>
    <div class="page">
        <div class="container">
            <div class="am-list am-list-5lb" am-mode="flat form">
                <div class="am-list-body">
                    <div class="am-list-item am-input-autoclear">
                        <div class="am-list-label">单位名称</div>
                        <div class="am-list-control">
                            <div id="UnitName"></div>
                        </div>
                        <div class="am-list-clear"><i class="am-icon-clear am-icon" am-mode="clear"></i></div>
                    </div>
                </div>
                <h5 style="line-height:18px;color:blue">第一步：地图选点（生产经营地）</h5>
                <div class="am-list-body" style="margin-top:10px;" id="choose">

                    <div class="am-list-item am-input-autoclear">
                        <div class="am-list-label"><span style="color:red">*</span>地图选点</div>
                        <div class="am-list-content">
                            <div id="address" name="FADDRESS" @*placeholder="点击选点"*@><div class="am-ft-right" style="color:gray">点击选点</div></div>
                            <input id="real_lon" type="hidden" value="">
                            <input id="real_lat" type="hidden" value="">
                        </div>
                        <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
                    </div>
                </div>
                <h5 style="line-height:18px;color:blue">第二步：选择土地使用方式</h5>
                <div class="am-list-body" style="margin-top:10px;">
                    <div class="am-list-item am-input-autoclear">
                        <div class="am-list-label" style="width:100px"><span style="color:red">*</span>自有或租赁</div>
                        <div class="am-list-content">
                            <select id="ZYZL">
                                <option>--请选择--</option>
                                <option>自用的有土地证土地</option>
                                <option>租用的有土地证土地</option>
                                <option>使用无土地证土地</option>
                            </select>
                        </div>
                        <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>

                    </div>
                </div>
                <h5 style="line-height:18px;color:blue">第三步：增加有公司名称清晰的现场照片<span style="color:red">(可选)</span></h5>
                <div class="am-list-header" style="color:red;"></div>
                <div class="am-list-footer">
                    <ol>
                        @*<li>1.请确保单位名称清晰可见</li>
                        <li>2.需实际拍摄，勿上传设计图</li>*@
                    </ol>
                </div>
                <div class="am-flexbox" style="background-color:#fff">

                    <div class="am-flexbox-item" style="height:140px;">
                        <div class="file">
                            <input type="file" accept="image/jpg,image/jpeg" style="width:160px;height:140px;background-repeat:no-repeat;opacity:0;margin-top:5px;" capture="camera">
                        </div>
                        <img id="images" style="width:160px;height:130px; display:none;margin-top:5px;margin-left:10px;" src="" />
                        <input type="file" accept="image/jpg,image/jpeg" style="width:160px;height:140px;background-repeat:no-repeat;opacity:0;z-index:99;position:absolute;margin-top:-160px;" capture="camera">
                        @*</div>*@
                    </div>

                    <div class="am-flexbox-item" style="height:140px;">
                        <img src="~/Images/bank2.jpg" style="width:140px;height:120px;float:right;padding-top:10px;padding-right:10px; z-index:99" />

                    </div>
                </div>
                <div class="am-flexbox">
                    <div class="am-flexbox-item">
                        <div class="am-list-header">
                            温馨提示
                        </div>
                    </div>
                    <div class="am-flexbox am-ft-right">
                        <a href="Introduction" class="am-button" am-mode="tiny light inline">使用手册</a>
                    </div>
                </div>
                <div class="am-list" am-mode="radius">
                    <div class="am-list-footer">
                        <ul>
                            <li style="color:gray">1.请确认此次定位地址在您单位<span style="color:red">实际生产</span>经营建筑范围内</li>
                            @*<li style="color:gray">2.请确认地图选点准确定位到单位所在。</li>*@
                            <li style="color:gray">2.信息填写不准可能会产生涉税风险信息，请仔细核对上述信息</li>
                        </ul>
                    </div>
                </div>
                <div style="margin-top:20px;">
                    <button type="submit" class="am-button" am-mode="blue" onclick="AddLocation()">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div id="map">
        <div id="toast">
            <div class="am-dialog" am-mode="show" style="z-index:1000">
                <div class="am-dialog-wrap">
                    <div class="am-dialog-header">
                        <h3>请在地图上准确选定单位所在建筑物</h3>
                    </div>
                    <div class="am-dialog-footer">
                        <button type="button" class="am-dialog-button" onclick="chooseagain()">重选</button>
                        <button type="button" class="am-dialog-button" onclick="sure()">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="iCenter" style="width:100%; height:400px;margin-top:60px;"></div>
        <div class="navbar navbar-fixed-top">
            <div class="alert alert-info" style="margin-top:0px;" id="warning">
                <div class="am-ft-center" style="font-size:20px;"><img src="~/Images/location.png" />请点击地图，确定单位准确位置</div>
            </div>
        </div>

        <div class="navbar navbar-fixed-bottom">
            <div style="height:15px;margin-left:10px;margin-bottom:20px;">
                <img src="~/Images/currentposition.png" onclick="zoomToCurrentPoint()">
            </div>
            <div class="alert alert-success" style="margin-bottom:0px;" id="sucess">

                <div class="am-list-content" id="location"></div>
                <button type="button" id="sure" class="btn btn-success btn-block" style="margin-top:10px;">确定</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /* 设定div宽度和高度 */
        var mapObj = null;
        var result;
        var marker = [];
        var windowsArr = [];
        $(".amap-maptype-item").attr("display", "none");
        $("amap - maptype - list").hide();
        var currentPointMarker = null;
        var selectPointMarker = null;
        function zoomToCurrentPoint() {
            if (mapObj.getZoom() < 16) {
                mapObj.setZoomAndCenter(16, [currentPosition.lon, currentPosition.lat]);
            } else {
                mapObj.setZoomAndCenter(mapObj.getZoom(), [currentPosition.lon, currentPosition.lat]);
            }
        }
        function mapInit() {
            $("#note").show();
            $("#iCenter").width(window.innerWidth);
            $("#iCenter").height(window.innerHeight);
            if (mapObj == null) {
                mapObj = new AMap.Map('iCenter', {
                    resizeEnable: true,
                    center: [120.66711, 31.296494],
                    level: 16,
                    zooms: [3,17]
                });
                mapObj.plugin(["AMap.MapType"], function () {
                    //地图类型切换
                    var type = new AMap.MapType({
                        defaultType: 0, //使用2D地图
                        showTraffic:false,
                        showRoad:false
                    });
                    mapObj.addControl(type);
                });
                
                mapObj.on('click', function (e) {

                    selectPoint(e.lnglat.getLng(), e.lnglat.getLat());
                });
                mapObj.setCity('苏州市');
                updatePositonByGPS();
            }
        };
        function showdefaultLayer() {

            defaultLayer.setMap(mapObj);
        }
        function showSatellite() {
            satellite.setMap(mapObj); 
        }
        var watchPositionId, target, options;

        function watchPositionSuccess(pos) {
            $("#note").hide();
           
            var crd = pos.coords;
            //alert('watchPosition success.'  + crd.longitude + "," + crd.latitude);
            if (crd.accuracy < 2000) {


                AMap.convertFrom([crd.longitude, crd.latitude], 'gps', function (status, result) {
                    if (result.info == 'ok') {
                        CurrentPoint(result.locations[0].lng, result.locations[0].lat);
                    }
                });


                if ((target.latitude - crd.latitude < 0.00001) && (target.longitude - crd.longitude < 0.00001)) {
                    //alert('Congratulations, you reached the target');
                    //navigator.geolocation.clearWatch(watchPositionId);
                }
                target.latitude = crd.latitude;
                target.longitude = crd.longitude;
            }
        }

        function watchPositionError(err) {
           
        }

        target = {
            latitude: 0,
            longitude: 0
        };

        options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };
        function updatePositonByGPS() {
           
            if (navigator.geolocation) {


                watchPositionId = navigator.geolocation.watchPosition(watchPositionSuccess, watchPositionError, options);


                navigator.geolocation.getCurrentPosition(function (position) {
                    $("#note").hide();
                   
                    var coords = position.coords;
                    AMap.convertFrom([coords.longitude, coords.latitude], 'gps', function (status, result) {
                        if (result.info == 'ok') {
                            CurrentPoint(result.locations[0].lng, result.locations[0].lat);
                        }
                    });

                }, function (data) {
                    $("#note").hide();
                  
                    mapObj.setCity('苏州市');
                }, options);



            }
            else {
                $("#note").hide();
                alert('本浏览器不支持GPS定位，请手工选择企业位置！');
            }
        }


        var currentPosition = {
            lat: 31.296494,
            lon: 120.66711
        };

        function CurrentPoint(lon, lat) {
            //mapObj.clearMap();//清除原有的标记

            if (selectPointMarker == null) // 用户没有点击
            {
                geocoder(lon, lat);
                if (mapObj.getZoom() < 16) {
                    mapObj.setZoomAndCenter(16, [lon, lat]);
                } else {
                    mapObj.setZoomAndCenter(mapObj.getZoom(), [lon, lat]);
                }

                selectPosition.lon = lon;
                selectPosition.lat = lat;
                document.getElementById("real_lon").value = lon;
                document.getElementById("real_lat").value = lat;
            }



            if (currentPointMarker == null) {
                currentPointMarker = new AMap.Marker({
                    icon: '../Images/loc.png',
                    offset: new AMap.Pixel(-16, -16),
                    map: mapObj,
                    position: [lon, lat]
                });
            }
            else {
                currentPointMarker.setPosition(new AMap.LngLat(lon, lat));
            }

            currentPosition.lon = lon;
            currentPosition.lat = lat;



        }

        var selectPosition = {
            lat: 0,
            lon: 0
        };

        function selectPoint(lon, lat) {
            //mapObj.clearMap();//清除原有的标记

            geocoder(lon, lat);
            if (mapObj.getZoom() < 16) {
                mapObj.setZoomAndCenter(16, [lon, lat]);
            } else {
                mapObj.setZoomAndCenter(mapObj.getZoom(), [lon, lat]);
            }





            if (selectPointMarker == null) {
                selectPointMarker = new AMap.Marker({
                    icon: '../Images/location.png',
                    offset: new AMap.Pixel(-16, -32),
                    map: mapObj,
                    position: [lon, lat]
                });
            }
            else {
                selectPointMarker.setPosition(new AMap.LngLat(lon, lat));
            }


            selectPosition.lon = lon;
            selectPosition.lat = lat;

            document.getElementById("real_lon").value = lon;
            document.getElementById("real_lat").value = lat;

        }

        function geocoder(x, y) {
            var lnglatXY = new AMap.LngLat(x, y);
            mapObj.plugin(["AMap.Geocoder"], function () {
                var geocoder = new AMap.Geocoder({
                    radius: 1000,
                    extensions: "all"
                });
                AMap.event.addListener(geocoder, "complete", function (data) {
                    if (data.regeocode.formattedAddress) {
                        $("#location").html(data.regeocode.formattedAddress);
                    }

                });
                geocoder.getAddress(lnglatXY);
            });
            //mapObj.setFitView();
        }

        $('input[type=file]').change(function () {
            var file = this.files[0];
            var reader = new FileReader();
            reader.onload = function () {
                // 通过 reader.result 来访问生成的 DataURL
                var url = reader.result;
                setImageURL(url);
            };
            reader.readAsDataURL(file);
        });
        var fd = new FormData();


        var tempData = null;
        function setImageURL(url) {
            //alert(url.length);
            var image = new Image();
            image.src = url;
            image.onload = function () {
                var imgWidth = image.width;
                var imgHeight = image.height;
                /* 大于100万像素压缩图片 */
                if (imgWidth * imgHeight > 100000) {
                    var myCanvas = convertImageToCanvas(image);
                    image = convertCanvasToImage(myCanvas);
                }
                /* 设定图片显示时的尺寸 */
                image.style.width = 160;
                image.style.height = 130;
                url = image.src;
                tempData = url;
                //alert(url.length)
            }
            $(".file").hide();
            $("#images").css("display", "block");
            $("#images").attr("src", url);
            // var data = url.toDataURL();
            var data = url.split(',')[1];
            data = window.atob(data);
            var ia = new Uint8Array(data.length);
            for (var i = 0; i < data.length; i++) {
                ia[i] = data.charCodeAt(i);
            };

            // canvas.toDataURL 返回的默认格式就是 image/png
            var blob = new Blob([ia], { type: "image/png" });
            fd.append("file", blob);
        }
        function checkAddress() {
            var address = $("#location").html();
            if (address != "" && address != null) {
                return true;
            }
            else {
                $("#note").hide();
                alert("请选定地点后再提交！");
                return false;
            }
        }

        function checkZYZL() {
            var temp = $("#ZYZL").val();
            if ((temp == "自用的有土地证土地") || (temp == "租用的有土地证土地") || (temp == "使用无土地证土地")) {
                return true;
            }
            else {
                $("#note").hide();
                alert("请选择自有或者租赁");
                return false;
            }
        }
        function checkLocation() {
            var address = $("#address").html();
            if (address == "已选点") {
                return true;
            }
            else {
                $("#note").hide();
                alert("请先确定办公地点所在位置");
                return false;
            }
        }
        function checkpic(data) {
            if (data != "" && data != null) {
                return true;
            }
            else {
                $("#note").hide();
                alert("请上传有公司名字标识的现场照片！");
                return false;
            }
        }
        function AddLocation() {
            $("#note").show();
            var address = $("#location").html();
            var CName = $("#UnitName").html();
            var real_lon = $("#real_lon").val();
            var real_lat = $("#real_lat").val();
            var code = getQueryStringByName("code");
            var data = {};
            data.real_lon = real_lon;
            data.real_lat = real_lat;
            data.address = address;
            data.CName = CName;
            data.code = code;
            data.file = tempData;
            data.ZYZL = $("#ZYZL").val();
            if (checkAddress() && checkLocation()&& checkZYZL()) {
                var url = "../Csds/AddLocation";
                $.ajax({
                    url: url,
                    type: 'Post',
                    data: data,
                    success: function (data) {
                        if (data.State == true) {
                            alert("数据采集成功");
                            location.href = "../Csds/Success";
                        }

                        else { alert("信息采集失败,请检查网络后重试！"); }
                    },
                    complete: function () {
                        $("#note").hide();
                    }
                });
            }
            else {
                if (address == "") {
                    alert("请先确定位置");
                    return false;
                }

                if (CName == "") {
                    alert("您的链接地址有误，请确认后重新提交");
                    return false;

                }
            }
        }

        function update() {
            $("#note").show();
            var address = $("#location").html();
            var CName = $("#UnitName").html();
            var real_lon = $("#real_lon").val();
            var real_lat = $("#real_lat").val();
            var code = getQueryStringByName("code");
            var data = {};
            data.real_lon = real_lon;
            data.real_lat = real_lat;
            data.address = address;
            data.CName = CName;
            data.code = code;
            data.file = tempData;
            data.ZYZL = $("#ZYZL").val();
            var url = "../Csds/UpdateLocation";
            $.ajax({
                type: 'Post',
                url: url,
                data: data,
                success: function (data) {
                    if (data.State == true) {
                        alert("数据更新成功");
                        location.href = "../Csds/Success";
                    }
                    else {
                        alert("数据更新失败,请重试！");
                    }
                },
                complete: function () {
                    $("#note").hide();
                }
            });
        }
        $("#sure").click(function () {
            $("#note").show();
           // var real_lon = $("#real_lon").val();
           // var real_lat = $("#real_lat").val();
          //  var url = "../Csds/CheckIn";
           // $.ajax(url, {
             ////   data: {
             //       real_lat: real_lat,
             //       real_lon: real_lon
             //   },
             //   success: function (data) {
             //       var temp = JSON.parse(data);
             //       if (temp.objectIds != "" && temp.objectIds != null) {
                        //$("#map").hide();
                        //$("#note").show();
                        //$(".container").show();
                        //$("#map").hide();
                        //$("#address").html("已选点");
            //        }
            //        else {
            //            $("#toast").show();


            //        }
            //    },
            //    error: function ()
            //    {
            //        $("#map").hide();
            //        $(".container").show();
            //        $("#map").hide();
            //        $("#address").html("已选点");


            //    }

            //});

        });
        function chooseagain() {
            $("#toast").hide();
        }
        function sure() {
            $("#toast").hide();
            $(".container").show();
            $("#map").hide();
            $("#address").html("已选点");
        }
        $("#choose").click(function () {
            $(".container").hide();
            $("#map").show();
            mapInit();
        });

        $(document).ready(function () {
            $("#map").hide();
            $("#note").hide();
            $("#toast").hide();
            $("#note").show();
            var code = getQueryStringByName("code");
            $.ajax({
                url: '../Csds/GetName',
                data: { code: code },
                success: function (data) {
                    if (data != "" && data != null) {
                        //mapInit();
                        $("#UnitName").html(data);
                    }
                    else {
                       location.href = "../Csds/Error";

                    }
                    complete: {
                        $("#note").hide();
                    }
                },
                error: function () { },
            });
        });
        function convertImageToCanvas(image) {
            // 创建canvas DOM元素，并设置其宽高和图片一样
            var canvas = document.createElement("canvas");
            canvas.width = image.width;
            canvas.height = image.height;
            // 坐标(0,0) 表示从此处开始绘制，相当于偏移。
            canvas.getContext("2d").drawImage(image, 0, 0);
            return canvas;
        }

        function convertCanvasToImage(canvas) {
            //新Image对象，可以理解为DOM
            var image = new Image();
            // canvas.toDataURL 返回的是一串Base64编码的URL，当然,浏览器自己肯定支持
            image.src = canvas.toDataURL("image/jpeg", 0.2);
            return image;
        }

        function urlReplace(value) {
            //if (!isNullOrEmpty(value)) {
            return value.replace("data:image/jpeg;base64,", "")
            // }
            //return "";
        }


    </script>
</body>
</html>
