
<script>
    $('#clusterGeneralView').ready(function () {
        //加载集群概况视图
        //alert('加载集群概况视图');
        $('#loader').show();
        $.ajax({
            url: '../Manage/ClusterGeneralView',
            success: function (data) {
                $('#clusterGeneralView').empty().html(data);
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    });

    $('#serviceGeneralView').ready(function () {
        //加载服务概况视图
        //alert('加载服务概况视图');
        $('#loader').show();
        $.ajax({
            url: '../Manage/ServiceGeneralView',
            success: function (data) {
                $('#serviceGeneralView').empty().html(data);
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    });

    $('#hotGeneralView').ready(function () {
        //加载热度概况视图
        //alert('加载热度概况视图');
        $('#loader').show();
        $.ajax({
            url: '../Manage/HotGeneralView',
            success: function (data) {
                $('#hotGeneralView').empty().html(data);
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    });

    $('#imageGeneralView').ready(function () {
        //加载影像概况视图
        //alert('加载影像概况视图');
        $('#loader').show();
        $.ajax({
            url: '../Manage/ImageGeneralView',
            success: function (data) {
                $('#imageGeneralView').empty().html(data);
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    });
</script>

<div class="NavWindow" style="height:100%;width:100%;margin:0px;padding:0px;">
    <div class="NavHeader">
        <img src="~/Images/home.png" />
        <span>您当前的位置：首页</span>
        <div style="float:right;margin-right:10px;">
            @DateTime.Now
        </div>
    </div>
    <div class="Content" style="height:90%;width:100%;overflow-y:hidden">
        <table border="1" style="height:100%;width:100%;">
            <tr style="height:20%">
                <td width="50%"style="text-align:center;">
                    <div style="background-color:#ffffff;margin:10px;height:120px;">
                        <img src="~/Images/cluster_general.png" style="float:left;margin-left:10%;margin-top:10px;width:100px;height:100px;" />
                        @*<hr style="height:120px;width:1px;"/>*@
                        <div id="clusterGeneralView"></div>
                        <img src="~/Images/triangle.png" style="float:right;width:100px;height:70px;" />
                    </div>                 
                </td>
                <td style="text-align:center;">
                    <div style="background-color:#ffffff;margin:10px;height:120px;">
                        <img src="~/Images/cluster_general.png" style="float:left;margin-left:10%;margin-top:10px;width:100px;height:100px;" />
                        <div id="serviceGeneralView"></div>
                        <img src="~/Images/triangle.png" style="float:right;width:100px;height:70px;" />
                    </div>                   
                </td>
            </tr>
            <tr style="height:50%">
                <td colspan="2" >
                    <div id="hotGeneralView" style="background-color:#ffffff;margin:0 10px 10px 10px;height:240px;">
                    </div>
                </td>
            </tr>
            <tr style="height:20%" >
                <td colspan="2">
                    <div style="background-color:#ffffff;margin:0 10px 10px 10px;height:120px;">
                        @*<img src="~/Images/cluster_general.png" style="float:left;margin-left:5%;margin-top:10px; width:100px;height:100px;" />*@
                        <div id="imageGeneralView"></div>
                        @*<img src="~/Images/triangle.png" style="float:right;width:100px;height:70px;margin-bottom:5px;padding-bottom:5px;" />*@
                    </div>                  
                </td>
            </tr>
        </table>
    </div>
</div>

