<div style="line-height:30px; text-align:left;padding-left:200px;padding-top:20px">
    <label style="font-family:'Microsoft YaHei';font-size:16px;">服务类别：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.serviceTypeCount</label>
    <label style="font-family:'Microsoft YaHei';font-size:16px;">服务资源总数：&nbsp;&nbsp;@ViewBag.serviceCount</label>
</div>