@model IEnumerable<BigData.ModelBuilding.Models.AnalysisModel>
<div class="form-group">
    @Html.DropDownList("ModelCode", ViewBag.result as IEnumerable<SelectListItem>, htmlAttributes: new { @style = "width:300px;height:32px;" })
</div>