@model IEnumerable<BigData.ModelBuilding.Models.AnalysisModel>



  <div class="form-group" style="margin-left:15px;">
     @Html.DropDownList("ddl",ViewBag.result as IEnumerable<SelectListItem>)
  </div>

    