@model IEnumerable<BigData.ModelBuilding.Models.BuildingModel>
@{
    ViewBag.Title = "List";
}
<script>
    $(document).ready(function () {
        //$('.SimpleWindow').jqxTree({ width: '100%', height: '100%' });
        $('#loader').hide();
    });
    function modelDetail(code) {
        var url = '../ModelBuilding/ListDetail?code=' + code;
        alert(code);
        $.ajax({
            url: url,
            success: function (data) {
                $("#usersListContainer").empty().html(data);
            },
            complete: function ()
            { }
        });
    }
    function CreateBasicInfoModel()
    {
        var url = '../ModelBuilding/CreateBasicInfoModel'
        $.ajax({
            url: url,
            success: function (data)
            {
                $("#usersListContainer").empty().html(data);
            
            },
            complete: function ()
            {
            
            }
        });
    }
</script>
<table class="security_group_table">
    <tr>
        <td>
            <div class="SimpleWindow">
                <div class="TitleContainer" style="background-color:#32323A">
                    <div class="Title"style="float:left">
                        <img src="~/Images/server.png" />
                        <a>系统建模</a>
                    </div>
                    <div class="HImgToolbar">
                        <img onclick="CreateBasicInfoModel();" src="~/Images/server.png" title="创建" />
                    </div>
                </div>
                
                <div class="Content">
                    <div class="SimpleListView">
                        @foreach (var item in Model)
                        {
                            <div class="ListItem">
                                <div onclick="modelDetail('@item.Code')"> @item.Name</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="SimpleWindow">
                <div class="TitleContainer" style="background-color:#32323A">
                    <div class="Title">
                        <img src="~/Images/server.png" />
                        <a>模型详情</a>
                    </div>
                    <div class="HImgToolbar">
                    </div>
                </div>
                <div class="Content" style="background-color:white; margin:1px;">
                    <div id="usersListContainer">
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>