
@{
    ViewBag.Title = "List";
}

<script>
    $(document).ready(function () {
        //$('.SimpleWindow').jqxTree({ width: '100%', height: '100%' });
        $('#loader').hide();
    });
</script>
<table class="security_group_table">
    <tr>
        <td>
            <div class="SimpleWindow">
                <div class="TitleContainer" style="background-color:#32323A">
                    <div class="Title">
                        <img src="~/Images/server.png" />
                        <a>系统建模</a>
                    </div>

                </div>
                <div class="Content" style="background-color:wheat">
                    <div id='groupTree'>
                        <ul>
                            <li>
                                <ul>
                                    @ViewBag.Message
                                </ul>
                            </li>
                        </ul>
                    </div>
                    @*<div id='contextMenu'>
        <ul>
            <li id="menuItemAdd" data-toggle="modal" data-target="#inputWindow">添加</li>
            <li id="menuItemDelete">删除</li>
        </ul>
    </div>*@

                  
                </div>
            </div>
        </td>
        <td>
            <div class="SimpleWindow
                <div class="TitleContainer" style="background-color:#32323A">
                    <div class="Title">
                        <img src="~/Images/server.png" />
                        <a>模型详情</a>
                    </div>
                    <div class="HImgToolbar">
                        <img onclick="addServer();" src="~/Images/server.png" title="添加" />
                    </div>
                </div>
                <div class="Content" style="background-color:white; margin:1px;">
                    <div id="usersListContainer"></div>
                </div>
            </div>

        </td>
    </tr>
</table>

