@model IEnumerable<BigData.TeamTools.Models.AspNetUsers>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users</title>
</head>
<body>
    <script>
        var selectedUserRow = null;
        var selectedUserIndex = -1;
        $(document).ready(function () {
            $("#usersTable").jqxDataTable(
                {
                    sortable: true,
                    editable: false,
                    width: '100%',
                    selectionMode: 'singleRow',
                    columns: [
                      { text: 'ID', dataField: 'Id', width: '70%', align: 'center', cellsAlign: 'center' },
                      { text: '用户名', dataField: 'UserName', width: '30%', align: 'center', cellsAlign: 'center' },
                    ]
                });
            $('#usersTable').on('rowSelect',
                function (event) {
                    selectedUserRow = args.row;
                    selectedUserIndex = args.index;
                }
            );

            initUsersButtons();
        });
        function initUsersButtons() {
            $("#leftUsersButtons").jqxButtonGroup({ mode: 'default' });
            $("#rightUsersButtons").jqxButtonGroup({ mode: 'default' });
            $("#leftUsersButtons").unbind('buttonclick').on('buttonclick', function (event) {
                var clickedButton = event.args.button;
                var id = clickedButton[0].id;
                if (id == "add") {
                    AddUserRow();
                }
                else if (id == "delete") {
                    if (selectedUserRow != null) {
                        if (confirm("确定删除？")) {
                            DeleteUser(selectedUserRow.Id);
                        }

                    } else { alert("请选择项！");}
                }
            });

            $("#rightUsersButtons").unbind('buttonclick').on('buttonclick', function (event) {
                var clickedButton = event.args.button;
                var id = clickedButton[0].id;
                if (id == "role") {
                    if (selectedUserRow != null) {
                        //alert(selectedUserRow.Id);
                        EditRolesInUser(selectedUserRow.Id);
                    }
                    else {
                        alert('请选择项！');
                    }
                } 
            });
        }
        function AddUserRow() {
            $('#createUserWindow').jqxWindow({
                width: 360,
                height: 280,
                resizable: false
            });
            $('#createUserWindow').jqxWindow('open');

        }
       
        function DeleteUser(id) {
            //alert(id);
            var url = "http://localhost/BigData.TeamTools/SecurityManager/DeleteUserByID?id=" + id;
            $.ajax({
                url: url,
                type: "get",
                success: function (msg) {
                    if (msg.message == "successed") {
                        alert("删除成功！");
                        location.reload();
                    } else {
                        alert("删除失败！");
                        location.reload();

                    }
                }
            });
        }
        function EditRolesInUser(id) {
            loadRolesOfUser(id);
            $('#EditRolesInUserWindow').jqxWindow({
                width: 500,
                height: 360,
                resizable: false,
                isModal: true,
                modalOpacity: 0.3,
            });
            $('#EditRolesInUserWindow').jqxWindow('open');
        }
    </script>
    <div style="height:35px; background-color:lightgray; margin-top:1px; margin-bottom:1px;">
        <div id='leftUsersButtons' class="leftDock">
            <button style="padding:4px 16px;" id="add">
                新建
            </button>
            <button style="padding:4px 16px;" id="delete">
                删除
            </button>
        </div>
        <div id='rightUsersButtons' class="rightDock">
            <button style="padding:4px 16px;" id="role">
                角色
            </button>            
        </div>
    </div>
    <table id="usersTable" style="width:100%;"border="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
            </tr>
        </thead>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
           
        </tr>
    }    
    </table>
    <div id="createUserWindow" style="display:none;">
        <div id="customWindowHeader">
            <span id="captureContainer" style="float: left">新建用户</span>
        </div>
        <div id="customWindowContent" style="overflow: hidden">
            <div style="margin: 10px">
                @{ Html.RenderPartial("CreateUser", new BigData.TeamTools.Models.RegisterViewModel());}
            </div>
        </div>
    </div>
    <div id="EditRolesInUserWindow" style="display:none;">
        <div id="customWindowHeader">
            <span id="captureContainer" style="float: left">编辑用户与角色</span>
        </div>
        <div id="customWindowContent" style="overflow: hidden">
            <div style="margin: 10px">
                @{Html.RenderPartial("EditRolesInUser");}
            </div>
        </div>
    </div>
</body>
</html>
