@model BigData.TeamTools.Models.UFUser

<div class="UserInfoPanel">
    <div class="userImg">
        @*<img src="~/Images/server.png"/>*@
        <img src="~/Images/visitor.png" />
    </div>
    <div class="userInfo">
        @if (@Model != null)
            {
            <div class="user">
                @Model.Name;

            </div>
        }
        else
        {
            <div class="user">
                游客
            </div>
        }
        <div class="tip">欢迎登陆！</div>
    </div>
</div>