<div id='contentEditUserAndRole'>
    <link href="~/Content/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            //alert(2);
            loadAllRolesForGroup();
        });

        function loadAllRolesForGroup() {
            $.ajax({
                type: "GET",
                url: "http://localhost/ShareService.ServiceManager/SecurityManager/AllRoles",
                success: function (msg) {
                    $("#GrouplistBoxA").jqxListBox("clear");
                    var dataAdapter = new $.jqx.dataAdapter(msg);
                    $("#GrouplistBoxA").jqxListBox({ source: dataAdapter, displayMember: "Name", valueMember: "Id", width: '200px', height: '250px' });
                    $("#GrouplistBoxA").on('select', function (event) {
                        if (event.args) {
                            var item = event.args.item;
                            if (item) {
                                //alert(item.value);
                            }
                        }
                    });
                }
            });
        }

        function LoadRolesOfGroup(selectedGroupId) {
            $.ajax({
                type: "GET",
                url: "http://localhost/ShareService.ServiceManager/SecurityManager/RolesOfGroup?groupId=" + selectedGroupId,
                success: function (msg) {
                    $("#GrouplistBoxB").jqxListBox("clear");
                    var dataAdapter = new $.jqx.dataAdapter(msg);
                    $("#GrouplistBoxB").jqxListBox({ source: dataAdapter, displayMember: "Name", valueMember: "Id", width: '200px', height: '250px' });
                    $("#GrouplistBoxB").on('select', function (event) {
                        if (event.args) {
                            var item = event.args.item;
                            if (item) {
                                //alert(item.value);
                            }
                        }
                    });
                }
            });
        }

        function addRoleToGroup() {
            var itemsA = $("#GrouplistBoxA").jqxListBox('getSelectedItems');
            if (itemsA.length > 0) {
                var itemsB = $("#GrouplistBoxB").jqxListBox("getItems");
                var isContained = false;
                if (itemsB!=null&&itemsB.length!=undefined) {
                    for (var i = 0; i < itemsB.length; i++) {
                        if (itemsA[0].label == itemsB[i].label) {
                            isContained = true;
                        }
                    }
                }
                if (isContained) {
                    alert("该用户已有此角色。");
                } else {
                    $("#GrouplistBoxB").jqxListBox('addItem', itemsA[0]);
                }
            } else {
                alert("未选择角色。。");
            }
        }
        function reduceRoleToGroup() {
            var itemsB = $("#GrouplistBoxB").jqxListBox('getSelectedItems');
            if (itemsB.length!=undefined&&itemsB.length > 0) {
                $("#GrouplistBoxB").jqxListBox('removeItem', itemsB[0]);
            } else {
                alert("未选择角色。。");
            }
        }
        function BtnEditRolesInGroupOKClick() {
            //alert(selectedUserRow.UserId);
            var itemsInB = $("#GrouplistBoxB").jqxListBox("getItems");
            if (itemsInB.length != undefined) {
                var postStr = ',';
                for (var i = 0; i < itemsInB.length; i++) {
                    postStr += itemsInB[i].value + ',';
                }
                $.ajax({
                    type: "get",
                    url: "http://localhost/ShareService.ServiceManager/SecurityManager/UpdateRolesOfGroup",
                    data: "groupId=" + selectedGroupRow.Id + "&roleIds=" + postStr,
                    success: function (msg) {
                        //alert(msg.message);
                        if ("sucessed" == msg.message) {
                            alert("更新成功！");
                            $('#EditRolesInGroupWindow').jqxWindow('close');
                        } else {
                            alert("更新失败！");
                            $('#EditRolesInGroupWindow').jqxWindow('close');
                        }
                    }
                });
            }
        }
    </script>
    <div id='jqxWidgetEditRoleAndGroup'>
        <table id="editGroupTable">
            <thead><tr style="text-align:center;font-size:12px;"><th style="text-align:center;width:40%">所有角色</th><th style="text-align:center;"></th><th style="text-align:center;width:40%">已选角色</th></tr></thead>
            <tbody>
                <tr>
                    <td>
                        <div style="float: left;" id="GrouplistBoxA">
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div><button onclick="addRoleToGroup()" id="addRole"><span class="ui-icon ui-icon-carat-1-e"></span></button></div>
                        <br /><br />
                        <div><button onclick="reduceRoleToGroup()" id="reduceRole"><span class="ui-icon ui-icon-carat-1-w"></span></button></div>
                    </td>
                    <td>
                        <div style="float: right;" id="GrouplistBoxB">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="OK" style="width:60px;margin:5px;padding:5px;float:right;" onclick="BtnEditRolesInGroupOKClick()" />
                    </td>
                    <td></td>
                    <td>
                        <input type="button" value="Cancel" style="width:60px;margin:5px;padding:5px;" onclick="javascript: { $('#EditRolesInGroupWindow').jqxWindow('close'); }" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

