
<div class="UserInfoPanel">
    <div class="userImg">
        <img src="~/Images/server.png"/>
    </div>
    <div class="userInfo">
        <div class="user">游客</div>
        <div class="tip">欢迎登陆！</div>
    </div>
</div>