<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="ShebaoServiceAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="ShebaoService">
                <endpoint address="" behaviorConfiguration="ShebaoServiceAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="ShebaoService" />
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="ShbServSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://58.210.114.21:8013/szggfw/services/ShbServ"
                binding="basicHttpBinding" bindingConfiguration="ShbServSoapBinding"
                contract="Shebao.ShbServ" name="ShbServ" />
        </client>
    </system.serviceModel>
</configuration>
