@model IEnumerable<BigData.ModelBuilding.Models.BaseField>

@foreach (var item in Model)
{
    <div class="SimpleGroup">
        <label class="form">@item.FieldName</label>
        <div>
            <label>@item.FieldType</label>
        </div>
    </div>
}
