<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
   <!--配置spring-->
  <!--下面的5行是必须的,注册spring模块-->
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <!--这里开始注入内容-->
  <spring>
    <context>
      <!--这里代表注入的程序集命名空间等等-->
      <!--<resource uri="~/DataConfig.xml"/>-->
      <resource uri="assembly://TZHSWEET.BLL/TZHSWEET.BLL/DataConfig.xml"/>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net"/>
    <!--必要-->
  </spring>
  
    <appSettings>
      <!--Dao路径-->
      <add key="DaoPath" value="TZHSWEET.EFDao"/>
      <!--Dao实现类型-->
      <add key="DaoType" value="EFDao"/>
    </appSettings>

    <connectionStrings>
      <add name="BaseManageEntities" connectionString="metadata=res://*/BaseManage.csdl|res://*/BaseManage.ssdl|res://*/BaseManage.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TIANZH-PC;initial catalog=DBCommonManage;persist security info=True;user id=sa;password=tian815100;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
