
@{
    Layout = "~/Views/Shared/HSplitLayout.cshtml";
}

@section LeftPanel
{
    Html.RenderAction("DirectoryTree");
}

@section RightPanel
{
    <div id="serviceListContainer" style="width:100%; height:100%;">

    </div>
}