@model System.Guid


<div style="width:100%; height:100%;">
    <ul id="infoTabs" class="nav nav-tabs">
        <li class="active">
            <a href="#gisDetails" data-toggle="tab">
                服务资源
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div style="padding:10px;overflow-x:hidden;" id="gisDetails" class="tab-pane fade in active">
            @{ 
                Html.RenderAction("ServiceList", "DirectoryManager");
            }
        </div>
    </div>
</div>


