@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Add</title>
    <script src="../../Scripts/jquery-1.7.1.js"></script>
    <style>
        .hidSpan {
            float: right;
            margin-top: -10px;
            margin-right: 10px;
            background-image: url('../../Content/jquery-easyui-1.3.1/themes/default/images/accordion_collapse.png');
            cursor: pointer;
        }
        .hideUp {
            background-image: url('../../Content/jquery-easyui-1.3.1/themes/default/images/accordion_expand.png');
        }
    </style>
    <script type="text/javascript">
        $(function () {
            BindHideWorkDivEvent();
        })
        function BindHideWorkDivEvent() {
            $(".hidSpan").click(function () {
                $(this).toggleClass("hideUp");
                $(this).siblings("div").toggle("slow");
            });
        };
    </script>
</head>
<body>
    <div>
        @*-------------------------------添加商品的主要信息-------------------------------*@
        <fieldset>
            <legend>添加商品主要信息</legend>
            <span class="hidSpan">&nbsp;&nbsp;</span>
            @*------------------------------工作面板--------------------*@
            <div class="workDiv">
                <p>dsfsfdsf</p>
                <p>dsfsfdsf</p>
                <p>dsfsfdsf</p>
                <p>dsfsfdsf</p>
                <p>dsfsfdsf</p>
            </div>
        </fieldset>
    </div>
</body>
</html>
                                                                1