<div>
    <img src="~/Images/cluster_general.png" style="float:left;margin-left:10%;padding:0;"/>
    <label style="position:absolute;top:15%;left:25%;">集群数量：&nbsp;&nbsp;@ViewBag.farmCount</label>
    <label style="position:absolute;top:20%;left:25%;">服务器数量：&nbsp;&nbsp;@ViewBag.serverCount</label>   
    <img src="~/Images/triangle.png" style="float:right;top:15%;position:absolute"/>
</div>
