
<div >
    <label style="font-family:'Microsoft YaHei';font-size:16px;">集群数量：&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.farmCount</label>
    <label style="font-family:'Microsoft YaHei';font-size:16px;">服务器数量：&nbsp;&nbsp;@ViewBag.serverCount</label>
</div>

