@model IEnumerable<ShareService.Service.ARR.ARRFarm>

<link rel="stylesheet" href="../../Scripts/jqwidgets/styles/jqx.base.css" type="text/css" />
<script type="text/javascript" src="../../Scripts/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="../../Scripts/jqwidgets/jqxsplitter.js"></script>
<script type="text/javascript" src="../../Scripts/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="../../Scripts/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="../../Scripts/jqwidgets/jqxpanel.js"></script>

<script>
    $(document).ready(function () {
        $('#mainSplitter').jqxSplitter({ width: '100%', height: $(window).height() - 150, panels: [{ size: 300 }] });
    });
</script>

<div id="mainSplitter">
    <div class="splitter-panel">
        @{
            Html.RenderAction("FarmsList", "HostManager");
        }
    </div>
    <div class="splitter-panel">
        <div id="serviceListContainer" style="width:100%; height:100%;">

        </div>
    </div>
</div>
