
<div style="font-family:'Microsoft YaHei';font-size:16px;">
    <table style="margin-left:30%;width:500px;text-align:left;">
        @if (ViewBag.updateServices != null && ViewBag.updateServices.Count > 0)
        {
            foreach (var item in ViewBag.updateServices)
            {
                <tr>
                    <td width="40%">@item.Name</td>
                    <td>更新</td>
                    <td width="40%">@item.UpdateDate</td>
                </tr>
            }
        }
        @if (ViewBag.addServices != null && ViewBag.addServices.Count > 0)
        {
            foreach (var a in ViewBag.addServices)
            {
                <tr>
                    <td width="40%">@a.Name</td>
                    <td>新增</td>
                    <td width="40%">@a.CreateDate</td>
                </tr>
            }
        }
    </table>
</div>
