<div>
    <label style="font-family:'Microsoft YaHei';font-size:16px;">服务类别：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.serviceTypeCount</label>
    <label style="font-family:'Microsoft YaHei';font-size:16px;">服务资源总数：&nbsp;&nbsp;@ViewBag.serviceCount</label>
</div>