@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAlipay.cshtml";
}
<script type="text/javascript">
    $("#toast").hide();
</script>
<div class="am-list" am-mode="flat chip form">
    <div class="am-list-item am-input-autoclear">
        <div class="am-list-label">社保编号:</div>
        <div class="am-list-control">
            <input type="text" id="ID" placeholder="请输入社保编号" value="">
            <input type="hidden" placeholder="" value="">
        </div>
        <div class="am-list-clear"><i class="am-icon-clear am-icon" am-mode="clear"></i></div>
    </div>
    <div class="am-list-item am-input-autoclear">
        <div class="am-list-label">身份证号:</div>
        <div class="am-list-control">
            <input type="text" id="IDCard" placeholder="请输入身份证号" value="">
        </div>
        <div class="am-list-clear"><i class="am-icon-clear am-icon" am-mode="clear"></i></div>
    </div>
    <button type="button" class="am-button" id="search" am-mode="blue disabled">蓝色42px按钮</button>
 </div>
<script type="text/javascript">
    window.setInterval("checkButtonState()",200);
    function checkButtonState()
    {
        if ($("#IDCard").val()&&$("#ID").val())
            $("#search").attr("am-mode", "blue");
        else
            $("#search").attr("am-mode", "blue disabled");
    }
    $("#search").click(function () {
        var ID=$("#ID").val();
        var IDCard=$("#IDCard").val();
        if (checkID(ID) && checkIDCard(IDCard))
        {
            alert("OK");
        }
    });






</script>

