@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutAlipay.cshtml";
}
<script type="text/javascript">
    $("#toast").hide();
</script>
<div class="am-list" am-mode="flat chip">
    <div class="am-list-header">综合查询</div>
    <div class="am-list-body">
        <a href="PersonInsuranceStatus" class="am-list-item">
            <div class="am-list-content">个人参保情况查询</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
        <a href="PersonInsuranceStatus" class="am-list-item">
            <div class="am-list-content">个人权益记录单查询</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
        <a href="PersonInsuranceStatus" class="am-list-item">
            <div class="am-list-content">企业养老保险个人账户查询</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
    </div>
    <div class="am-list-header">缴费信息查询</div>
    <div class="am-list-body">
        <a href="BirthInsurance" class="am-list-item">
            <div class="am-list-content">生育缴费信息查询</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
        <a href="" class="am-list-item">
            <div class="am-list-content">工伤缴费信息查询</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
        <a href="" class="am-list-item">
            <div class="am-list-content">失业缴费信息查询</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
        <a href="" class="am-list-item">
            <div class="am-list-content">企业养老缴费信息月度查询</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
        <a href="" class="am-list-item">
            <div class="am-list-content">机关养老缴费信息月度查询</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
        <a href="" class="am-list-item">
            <div class="am-list-content">职工医保缴费信息月度查询</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
    </div>
</div>