@model IEnumerable<BigData.TeamTools.Models.UFGroup>

<script>
    $(document).ready(function () {
        $('#groupTree').jqxTree({ width: '100%', height: '100%' });
        attachEvents();
    });

    //添加监听事件
    function attachEvents() {
        var contextMenu = $("#contextMenu").jqxMenu({ width: '120px', height: '60px', autoOpenPopup: false, mode: 'popup' });
        $("#groupTree").unbind().on('mousedown', function (event) {
            var target = $(event.target).parents('li:first')[0];
            var rightClick = isRightClick(event);
            //客户端若是右键，显示菜单
            if (rightClick) {
                if (target != null)
                    $("#groupTree").jqxTree('selectItem', target);
                var scrollTop = $(window).scrollTop();
                var scrollLeft = $(window).scrollLeft();
                var selectedItem = $("#groupTree").jqxTree("getSelectedItem");
                var code = $(selectedItem.element).data('directory');
                if (code == null) {
                    $('#contextMenu ul #menuItemDelete').hide();

                } else {
                    $('#contextMenu ul #menuItemDelete').show();

                }
                contextMenu.jqxMenu('open', parseInt(event.clientX) + 5 + scrollLeft, parseInt(event.clientY) + 5 + scrollTop);

                return false;
            }
        });

        $('#groupTree').on('select', function (event) {
            var code = $(event.args.element).data("directory"); //获取所选树节点的code
            if (code != null)
                showUsersListOfGroup(code);
                showRolesListOfGroup(code);
        });

        $("#contextMenu").on('itemclick', function (event) {
            var itemId = $.trim($(event.args).attr('id')).toString();
            switch (itemId) {
                case "menuItemDelete":
                    var selectedItem = $('#groupTree').jqxTree('selectedItem');
                    if (selectedItem != null) {
                        var code = $(selectedItem.element).data("directory");
                        if (confirm("确定删除？")) {
                            deleteTreeNode(code, selectedItem);
                        }
                        $("#contextMenu").jqxMenu('close');
                    }
                    break;
            }
        });

        $("#okButton").bind('click', function (e) {
            var newNodeText = $('#inputTextBox').val();
            if (newNodeText == '') {
                alert("名称不能为空！");
            } else {
                addTreeNode(newNodeText);
            }
        });
    }

    $(document).on('contextmenu', function (e) {
        if ($(e.target).parents('.jqx-tree').length > 0) {
            return false;
        }
        return true;
    });

    function isRightClick(event) {
        var rightclick;
        if (!event) var event = window.event;
        if (event.which) rightclick = (event.which == 3);
        else if (event.button) rightclick = (event.button == 2);
        return rightclick;
    }

    function showUsersListOfGroup(code) {
        $('#loader').show();
        $.ajax({
            url: '../GroupManager/UsersOfGroup?code=' + code,
            success: function (data) {
                $('#usersListContainer').empty().html(data);
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }
    function showRolesListOfGroup(code) {
        $('#loader').show();
        $.ajax({
            url: '../GroupManager/RolesOfGroup?code=' + code,
            success: function (data) {
                $('#rolesListContainer').empty().html(data);
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }
    function addTreeNode(newNodeName) {
        $('#loader').show();
        var selectedItem = $('#groupTree').jqxTree('selectedItem');
        var code = selectedItem ? $(selectedItem.element).data("directory") : "";
        $.ajax({
            url: "../GroupManager/AddGroup?parent=" + code + "&child=" + newNodeName,
            success: function (result) {
                if (result.State) {
                    var selectedItem = $('#groupTree').jqxTree('selectedItem');
                    if (selectedItem) {
                        $('#groupTree').jqxTree('addTo', { label: newNodeName }, selectedItem.element);
                        var newTreeItem = $(selectedItem.element).find('.jqx-tree-dropdown')[0].lastElementChild;
                        //todo:将result.Code赋给新加节点的data-directory属性
                        $(newTreeItem).data('directory', result.Code);
                        $('#inputTextBox').val('');
                        $('#inputWindow').modal('hide')
                    }
                }
                else {
                    alert("添加失败！");
                }
            },
            complete: function () {
                $('#loader').hide();
            }

        });
    }

    function deleteTreeNode(code, selectedItem) {
        $('#loader').show();
        //todo:获得selectedItem元素所有子节点的guid,如果子节点存在的话
        var childCount = $(selectedItem.element).find('li').length;
        //alert(childCount);
        var childCodes = "";
        for (var i = 0; i < childCount; i++) {
            if (i == childCount - 1) {
                childCodes += $($(selectedItem.element).find('li')[i]).data("directory");
                continue;
            }
            childCodes += $($(selectedItem.element).find('li')[i]).data("directory") + ",";

        }

        $.ajax({
            url: "../GroupManager/DeleteGroup?code=" + code + "&childCodes=" + childCodes,
            success: function (result) {
                if (result.State) {
                    $('#groupTree').jqxTree('removeItem', selectedItem.element);
                } else {
                    alert("删除失败！");
                }
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }
</script>


<table class="security_group_table">
    <tr>
        <td style="width:200px;">
            <div class="SimpleWindow">
                <div class="TitleContainer" style="background-color:#32323A">
                    <div class="Title">
                        <img src="~/Images/server.png" />
                        <a>组列表</a>
                    </div>
                </div>
                <div class="Content">
                    <div id='groupTree'>
                        <ul>
                            <li>
                                资源目录
                                <ul>
                                    @foreach (var childItem in Model)
                                    {
                                        @Html.Partial("DirectoryTreeItem", childItem)
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id='contextMenu'>
                        <ul>
                            <li id="menuItemAdd" data-toggle="modal" data-target="#inputWindow">添加</li>
                            <li id="menuItemDelete">删除</li>
                        </ul>
                    </div>

                    <div style="clear:both;" class="modal fade" id="inputWindow" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        组名
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="SimpleGroup">
                                        <label class="form">组名</label>
                                        <div>
                                            <input type="text" id="inputTextBox" placeholder="请输入名字">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="okButton" type="button" class="btn btn-default">
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <table class="security_group_table">
                <tr>
                    <td>
                        <div class="SimpleWindow">
                            <div class="TitleContainer" style="background-color:#32323A">
                                <div class="Title">
                                    <img src="~/Images/server.png" />
                                    <a>用户列表</a>
                                </div>
                            </div>
                            <div class="Content" style="background-color:white; margin:1px;">
                                <div id="usersListContainer"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="SimpleWindow">
                            <div class="TitleContainer" style="background-color:#32323A">
                                <div class="Title">
                                    <img src="~/Images/server.png" />
                                    <a>角色列表</a>
                                </div>
                            </div>
                            <div class="Content" style="background-color:white; margin:1px;">
                                <div id="rolesListContainer"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

