@model  IEnumerable<HospitalData.Hospital>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <a  href=GetDepart?Hosp=@item.HospName class='am-list-item'>
        <div class="am-list-content">@item.HospName</div>
        <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
    </a>
}