@{
    Layout = null;
}
<div id="densityMap" style="width:100%; height:100%; background-color:#062444;" 
     onload="loadEMLayer('densityMap', 'DensityMapOption', 'http://localhost/SpaceBIA.Web.EasyPortal/Map/GetDefaultDensityMapSource', 'Density');">
</div>

