@{
    Layout = null;
}
<div id="markLine" style="width:100%; height:100%; background-color:#062444;"
     onload="loadEMLayer('markLine', 'MarkLineOption', 'http://localhost/SpaceBIA.Web.EasyPortal/Map/GetDefaultMarkLineDataSource', 'MarkLine');">
</div>

