@{
    Layout = null;
}
<div id="migration" style="width:100%; height:100%; background-color:#062444;"
     onload="loadEMLayer('migration', 'MigrationOption', 'http://localhost/SpaceBIA.Web.EasyPortal/Map/GetDefaultMigrationDataSource', 'Migration');">
</div>
