@{
    Layout = null;
}
<div id="timeline_MarkPoint" style="width:100%; height:100%; background-color:#062444;"
     onload="loadEMLayer('timeline_MarkPoint', 'Timeline_MarkPointOption', 'http://localhost/SpaceBIA.Web.EasyPortal/Map/GetDefaultTimeline_MarkPointDataSource', 'Timeline_MarkPoint');">
</div>
