@{
    Layout = null;
}
<div id="timeline_MarkLine" style="width:100%; height:100%; background-color:#062444;"
     onload="loadEMLayer('timeline_MarkLine', 'Timeline_MarkLineOption', 'http://localhost/SpaceBIA.Web.EasyPortal/Map/GetDefaultTimeline_MarkLineDataSource', 'Timeline_MarkLine');">
</div>

