@{
    Layout = null;
}
<div id="timeline_DensityMap" style="width:100%; height:100%; background-color:#062444;"
     onload="loadEMLayer('timeline_DensityMap', 'Timeline_DensityMapOption', 'http://localhost/SpaceBIA.Web.EasyPortal/Map/GetDefaultTimeline_DensityMapSource', 'Timeline_Density');">
</div>

