@{
    Layout = null;
}
<div id="timeline_Migration" style="width:100%; height:100%; background-color:#062444;"
     onload="loadEMLayer('timeline_Migration', 'Timeline_MigrationOption', 'http://localhost/SpaceBIA.Web.EasyPortal/Map/GetDefaultTimeline_MigrationDataSource', 'Timeline_Migration');">
</div>
