<script>
    $(document).ready(function () {
        $('#HsplitLayout_Splitter').jqxSplitter({ width: '100%', height: '100%', panels: [{ size: 260 }] });
    });
</script>
<div id="HsplitLayout_Splitter">
    <div class="splitter-panel">
        @{
            Html.RenderAction("UserInfo", "SecurityManager");
        }
        <div class="HsplitLayout_LeftPanel">
            @RenderSection("LeftPanel")
        </div>
    </div>
    <div class="splitter-panel">
        @RenderSection("RightPanel")
    </div>
</div>





