@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>
    <div>
        @ViewData["ErrorMessage"].ToString();
    </div>
</body>
</html>
