@model Razor.Models.Product

@{
    ViewBag.Title = "Index";
}

<h2>Name:@Model.Name</h2>
@if (Model.Category == "Watersports")
{ 

<p>@Model.Category<b>SPLASH!</b></p>
}
Time view render:@DateTime.Now.ToShortTimeString();