<?xml version="1.0" encoding="utf-8" ?>
<!--
    注意: 向配置设置的 App.config 文件添加
    只适用于 Test 项目的条目。
-->
<configuration>
    <appSettings>
      <add key="TemplatePath" value="E:\Projects\ShareService\Source\ShareService.Service.ARR\Templates"/>
      <add key="Host" value="localhost"/>
      <add key="Port" value="801"/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
