@model IEnumerable<ShareService.ServiceManager.Models.ServerFarm>

<script>
    var farmCode = '@(ViewBag.FarmCode)';
        $(document).ready(function(){
            $('#resourceWindow').jqxWindow({
                width: '400px',
                height: '200px',
                resizable: true,
                initContent: function () {
                }
            });

        });
        function showServerInstances(farmCode)
        {
            $('#loader').show();
            $.ajax({
                url: '../HostManager/HostsList?farmCode=' + farmCode,
                success: function (data) {
                    $('#serviceListContainer').empty().html(data);
                },
                complete: function () {
                    $('#loader').hide();
                }
            });
        }
        function addFarm()
        {
            $('#loader').show();
            $.ajax({
                url: '../HostManager/CreateFarm',
                success: function (data) {
                    $('#resourceWindow #titleContainer').html('添加集群');
                    $('#resourceWindow #customWindowContent').empty().html(data);
                    $('#resourceWindow').jqxWindow('open');
                },
                complete: function () {
                    $('#loader').hide();
                }
            });
        }
</script>

<div class="SimpleWindow">
    <div class="TitleContainer">
        <div class="Title">
            <img src="~/Images/server.png"/>
            <a>集 群</a>
        </div>
        
        <div class="HImgToolbar">
            <img onclick="addFarm();" src="~/Images/server.png" title="添加"/>
        </div>
    </div>
    <div class="Content">
        <div class="SimpleListView">
            @foreach (var item in Model)
            {
                <div onclick="showServerInstances('@item.Code')" class="ListItem"><span>@item.Name</span></div>
            }
        </div>
    </div>
</div>

