@model IEnumerable<ShareService.ServiceManager.Models.UFUser>

<script>
    $(document).ready(function () {
        $('#resourceWindow').jqxWindow({
            width: '400px',
            height: '340px',
            resizable: true,
            initContent: function () {
            }
        });
    });

    function viewUser(code) {
        $('#loader').show();
        $.ajax({
            url: '../UserManager/Detail?code=' + code,
            success: function (data) {
                $('#resourceWindow #titleContainer').html('用户信息');
                $('#resourceWindow #customWindowContent').empty().html(data);
                $('#resourceWindow').jqxWindow('open');
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }

</script>
<table class="UFTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            操作
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a onclick="viewUser('@item.Code')" style="cursor:pointer;">详细信息</a>
            </td>
        </tr>
    }

</table>






